*~
*.backup
build/*
lib/gtest*
CMakeCache.txt
CMakeFiles
Doxyfile
cmake_install.cmake
compile_commands.json
*.a
nbproject
target
*.autosave
.kdev4
*.kdev4
*.aux
*.bbl
*.bcf
*.blg
*.log
*.nav
*.out
*.run.xml
*.snm
*.toc
web/*.xml
web/*.html
